<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Дунаев Никита М33051</title>
    <link rel="stylesheet" href="css/sideNav.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<header>
    <nav>
        <div class="sidenav">
            <a href="/">Главная</a>
            <a href="todoList" title="tasks">ToDoList</a>
            <a href="mock" title="tasks">Mock Gallery</a>
            <a href="slider" title="tasks">Slider</a>

        </div>
    </nav>


</header>

{{{body}}}

<footer>
    <h2>Total load time: {{loadTime}}</h2>
</footer>
</body>
</html>