<link href="/css/mockGallery.css" rel="stylesheet">

<div class="main__gallery"></div>


<div class="main__loader">
    <img src="/gif/NyanCat.gif"/>
</div>

<button class="main__more">More colors!</button>

<i style="font-size:3vh" class="fa">&#xf071;Oops! I did it again!</i>

<script defer src="/js/mockGallery.js"></script>