<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="css/style.css">

<header>
    <section id="about_me" class="header__about_me">
        <div class="header__logo">
            <img src=/img/ава.jpg alt="аватарка" width="189" height="255">
        </div>
        <div class="header__text">
            <div class="header__name">
                <h1 class="name">Дунаев Никита Сергеевич</h1>
            </div>
            <div class="header__contacts">
                <h2>Мои контакты</h2>
                <ul class="contacts">
                    <li><a href="https://vk.com/dunn1">Вконтакте</a></li>
                    <li><a href="https://www.instagram.com/_dunnik">Инстаграм</a></li>
                    <li><a href="https://t.me/dunaevnikita">Телеграм</a></li>
                    <li><a href="https://github.com/DUNNIK">GitHub</a></li>
                </ul>
            </div>
        </div>
    </section>


</header>