#messages{
    height:300px;
    overflow-y: scroll;
}

#app {
    margin-top: 2rem;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2a2ad0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #0000ff;
    border-radius: 2px;
}
.chatbox {
    width: 300px;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgb(0, 0, 255),0 4px 8px rgb(252, 255, 25);
}
.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #ff8209;
    overflow: auto;
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #fcff19;
    border-top: 1px solid #ff8209;
    box-shadow: 0 0 4px rgb(255, 130, 9),0 4px 8px rgb(252, 255, 25);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: #ff8209;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #ff8209;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgb(255, 130, 9);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgb(0, 0, 255),0 2px 4px rgb(252, 255, 25);
    background: #0000ff;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgb(0, 0, 255),0 6px 20px 0 rgb(252, 255, 25);
}
.chat-input input[good] + button path {
    fill: #323232;
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    background: #fcff19;
    border-radius: 0 6px 6px 0;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgb(0, 0, 255),0 2px 4px rgb(252, 255, 25);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.msg {
    display: inline-block;
    font-size: 12pt;
    line-height: 13pt;
    color: rgb(50, 50, 50);
    margin: 0 0 4px 0;
}

.username {
    display: inline;
    color: blue;
    font-size: 10pt;
}

ul li{
    list-style-type: none;
    font-weight: 600;
}

.btn {
    background-color: #ff8209;
    text-align: center;
}

h1 {
    color: #ff8209;
}